body {
    background-color: lightcyan;
}

img {
    border-radius: 10px;

}

.pageTitle h1{
    color: darkblue;
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.login-form {
    background-color: lightskyblue;
    width: auto;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.login-greet {
    background-color: lightcyan;
    padding: 1px 5px 1px 5px;
    border-radius: 20px;
    margin-bottom: 10px;


}

.mira {
    background-color: lightsalmon;
    width: auto;
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}


.box {
    display: flex;
    justify-content: space-evenly;
}